
<ion-content fullscreen padding scroll-y="false" class="welcome">
  
  <span class="titulo"><p><b>Confira as facilidades que
        o Guia+ trás para você!!</b></p></span>
  
  <ion-slides class="slides-itens" pager="true">

    <ion-slide>
      <div class="img-content-1">
        <!-- <img class="img-1" src="../../assets/images/logo.png" alt="logo-oficial"> -->
        <img class="img-1" src="../../assets/images/chat.jpg" alt="logo-oficial">
      </div>
      <div class="text-content">
        <!-- <p>O Guia+ é o aplicativo ideal para suas viagens!!
          Onde você pode encontar Guias turísticos para acompanhar e tornar seus passeios 
          mais proveitosos e torná-los uma experiência única!!</p> -->
        <p>O Guia+ é o aplicativo ideal para suas viagens!! Com ele você poderá 
          entrar em contato com  o guia escolhido e programar seu passeio através do chat!</p>  
      </div>
      
    </ion-slide>

    <ion-slide>
        <div class="img-content">
          <img src="../../assets/images/lista.jpg" alt="lista">
        </div>
        <div class="text-content">
          <p>Aqui você encontra uma lista de profissionais de turísmo cadastrados e certificados 
            onde você poderá entrar em contato e contratar seus serviços!
        </p>
        </div>
        
    </ion-slide>

    <ion-slide>
        <div class="img-content-3">
          <img class="img-3" src="../../assets/images/autoavaliacao.jpg" alt="autoavaliacao">
        </div>
        <div class="text-content">
          <p>Você também poderá avaliar o serviço prestado e favoritar o profissional que escolher com base nas avaliações.</p>
        </div>
        
    </ion-slide>

  </ion-slides>
  
</ion-content>

<ion-buttons>
  <ion-button class="bnt" (click)="close()" fill="clear">Fechar
    <ion-icon slot="end" style="color: #000;" name="close"></ion-icon>
  </ion-button>
</ion-buttons>

