<!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>Detalhes do Guia</ion-title>
    </ion-toolbar>
  </ion-header> -->

<!-- <ion-header>
  <div>
    <ion-toolbar class="topo" color="custom-color">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/tabs/tab3"></ion-back-button>
      </ion-buttons>
      <ion-title>Detalhes do Guia</ion-title>
    </ion-toolbar>
    <div>
      <img [src]="guia.foto">
    </div>
    <ion-label>
      {{guia.nome}}
    </ion-label>
  </div>
</ion-header>
  
<ion-content> -->

  <!-- <ion-card class="card-info"> -->

  <!-- <ion-list>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="guia.email" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="guia.nome" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input type="string" [(ngModel)]="guia.sobrenome" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="string" [(ngModel)]="guia.telefone" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cadastur</ion-label>
      <ion-input type="string" [(ngModel)]="guia.cadastur" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Linguas</ion-label>
      <ion-input type="string" [(ngModel)]="guia.linguas" disabled="true"></ion-input>
    </ion-item>

  </ion-list>
 -->
  <!-- </ion-card> -->

  <!-- <app-favorites [guiaId]="guiaId" [userId]="userId" [userName]="user.nome" [guiaName]="guia.nome" [guiaFoto]="guia.foto"></app-favorites>

  <app-star-review [guiaId]="guiaId" [userId]="userId" [userName]="user.nome" [guiaName]="guia.nome"></app-star-review>

  <app-comments [guiaId]="guiaId" [userId]="userId" [userName]="user.nome" [guiaName]="guia.nome" [userFoto]="user.foto"></app-comments> -->

  
<!-- </ion-content>  -->

<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        <ion-col class="title">
          Detalhes do Guia<br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title">
          <ion-avatar>
            <img [src]="user.foto">
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="title-desc">
          <ion-label>
            <h2>{{guia.nome}} {{guia.sobrenome}}</h2>
            <h2>"Média"</h2>
            <span>
              <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
            </span>
          </ion-label>
        </ion-col>
      </ion-row>

    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <ion-icon class='icon' name="lock" slot="start"></ion-icon><b> E-mail</b>
            <p>{{guia.email}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon class='icon' name="person" slot="start"></ion-icon><b> Nome</b>
            <p>{{guia.nome}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon class='icon' name="person" slot="start"></ion-icon><b> Sobrenome</b>
            <p>{{guia.sobrenome}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon class='icon' name="call" slot="start"></ion-icon><b> Telefone</b>
            <p>{{guia.telefone}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon class='icon' name="checkmark-circle-outline" slot="start"></ion-icon><b> Cadastur</b>
            <p>{{guia.cadastur}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon class='icon' name="chatboxes" slot="start"></ion-icon><b> Línguas</b>
            <p>{{guia.linguas}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <app-favorites [guiaId]="guiaId" [userId]="userId" [userName]="user.nome" [guiaName]="guia.nome" [guiaFoto]="guia.foto"></app-favorites> -->

    <!-- <app-star-review [guiaId]="guiaId" [userId]="userId" [userName]="user.nome" [guiaName]="guia.nome"></app-star-review>

    <app-comments [guiaId]="guiaId" [userId]="userId" [userName]="user.nome" [guiaName]="guia.nome" [userFoto]="user.foto"></app-comments> -->

    <ion-row>
      <ion-col>
        <ion-button style="margin-bottom: 5%;" size='large' class="btn-init" expand='block'>Enviar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content> 
