<!-- <ion-header>
  <ion-toolbar class="topo" color="custom-color">
    <ion-title>Cadastro</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/login"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cadastrar-form">

    <form [formGroup]="usuarioCadastrarForm">

      <ion-item class="campos" lines="none">
        <ion-icon name="create" slot="end"></ion-icon>
        <ion-input type="text" placeholder="Nome" formControlName="nome" [(ngModel)]="user.nome"></ion-input>
        <div class="errors" *ngIf="usuarioCadastrarForm.controls.nome.errors">
          <h6 *ngIf="usuarioCadastrarForm.controls.nome.errors.required"></h6>
          <h6 *ngIf="usuarioCadastrarForm.controls.nome.errors.minlength">O Nome deve conter no minimo 2 caracteres</h6>
          <h6 *ngIf="usuarioCadastrarForm.controls.nome.errors.maxlength">O Nome deve conter no maximo 30 caracteres</h6>
        </div>
      </ion-item>

      <ion-item class="campos"  lines="none">
        <ion-icon name="mail" slot="end"></ion-icon>
        <ion-input type="email" placeholder="E-mail" formControlName="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <div class="errors" *ngIf="usuarioCadastrarForm.controls.email.errors">
        <h6 *ngIf="usuarioCadastrarForm.controls.email.errors.required"></h6>
        <h6 *ngIf="usuarioCadastrarForm.controls.email.errors.pattern">E-mail invalido</h6>
      </div>

      <ion-item class="campos" lines="none">
        <ion-icon name="call" slot="end"></ion-icon>
        <ion-input type="number" placeholder="Telefone" formControlName="telefone" [(ngModel)]="user.telefone"></ion-input>
      </ion-item>
      <div class="errors" *ngIf="usuarioCadastrarForm.controls.telefone.errors">
        <h6 *ngIf="usuarioCadastrarForm.controls.telefone.errors.required"></h6>
        <h6 *ngIf="usuarioCadastrarForm.controls.telefone.errors.pattern">Telefone inválido</h6>
      </div>

      <ion-item class="campos" lines="none">
        <ion-icon name="key" slot="end"></ion-icon>
        <ion-input type="password" placeholder="Senha" formControlName="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div class="errors" *ngIf="usuarioCadastrarForm.controls.password.errors">
        <h6 *ngIf="usuarioCadastrarForm.controls.password.errors.required"></h6>
        <h6 *ngIf="usuarioCadastrarForm.controls.password.errors.minlength">A senha deve conter no minimo 6 caracteres</h6>
        <h6 *ngIf="usuarioCadastrarForm.controls.password.errors.maxlength">A senha deve conter no maximo 12 caracteres</h6>
      </div>
      
    </form>
    
  </div> 

  <div>
    <ion-button class="btn" shape="round" expand="full" (click)="register()" [disabled]="!usuarioCadastrarForm.valid">
        Cadastrar
    </ion-button>
    <ion-button class="btn-2" shape="round" expand="full"  (click)="limpar()">
        Cancelar
    </ion-button> 
  </div>

  <div class="footer">
    <p id="p1">Guia+ 2019. Todos os direitos reservados.</p>
    <p id="p2">Versão 1.0.0.</p>
  </div>

</ion-content> -->



<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" style="color: #fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon style="font-size: 80px;" name='person' color="light"></ion-icon><br>Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usuarioCadastrarForm">
    <ion-grid>
      <ion-row>
        <ion-col>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="Nome" formControlName="nome" [(ngModel)]="user.nome"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="usuarioCadastrarForm.controls.nome.errors">
            <h6 *ngIf="usuarioCadastrarForm.controls.nome.errors.required"></h6>
            <h6 *ngIf="usuarioCadastrarForm.controls.nome.errors.minlength">O Nome deve conter no minimo 2 caracteres</h6>
            <h6 *ngIf="usuarioCadastrarForm.controls.nome.errors.maxlength">O Nome deve conter no maximo 30 caracteres</h6>
          </div>
  
          <ion-item class="ion-margin-top"  lines="none">
            <ion-input type="email" placeholder="E-mail" formControlName="email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="usuarioCadastrarForm.controls.email.errors">
            <h6 *ngIf="usuarioCadastrarForm.controls.email.errors.required"></h6>
            <h6 *ngIf="usuarioCadastrarForm.controls.email.errors.pattern">E-mail inválido</h6>
          </div>
          
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="number" placeholder="Telefone" formControlName="telefone" [(ngModel)]="user.telefone"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="usuarioCadastrarForm.controls.telefone.errors">
            <h6 *ngIf="usuarioCadastrarForm.controls.telefone.errors.required"></h6>
            <h6 *ngIf="usuarioCadastrarForm.controls.telefone.errors.maxlength">O Telefone deve conter no maximo 12 caracteres</h6>
            <!-- <h6 *ngIf="usuarioCadastrarForm.controls.telefone.errors.pattern">Telefone inválido</h6> -->
          </div>
          
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" formControlName="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
          <div class="errors" *ngIf="usuarioCadastrarForm.controls.password.errors">
            <h6 *ngIf="usuarioCadastrarForm.controls.password.errors.required"></h6>
            <h6 *ngIf="usuarioCadastrarForm.controls.password.errors.minlength">A senha deve conter no minimo 6 caracteres</h6>
            <h6 *ngIf="usuarioCadastrarForm.controls.password.errors.maxlength">A senha deve conter no maximo 12 caracteres</h6>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button style="margin-bottom: 0%;" size='large' class="btn-init" expand='block' (click)="register()" [disabled]="!usuarioCadastrarForm.valid">Cadastrar
          </ion-button>
        </ion-col>
      </ion-row>
  
      <!-- <ion-button class="ion-margin-top" expand="block" color="light" (click)="register()" [disabled]="!guiaCadastrarForm.valid">
          Cadastrar
      </ion-button> -->
    </ion-grid>
  </form>
</ion-content>