.topo {
  --background: linear-gradient(207deg, rgb(28, 159, 246) 0%, rgba(90, 196, 249, 1) 84%);
  --border-width: 0px;
  --min-height: 80px;
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
}

.chat{

    display: flex;
    flex-direction: column;

    .me{
        position: relative;
        margin: 20px 5px 0px;
        max-width: 80%;
        align-self: flex-end;
        padding: 6px 10px 7px;
        border-radius: 15px 15px 0;
        background: #007fff;
        //background: #32db64;
        font-size: medium;
        color: #fff;
        line-height: 1.4;

.name{
  font-size: small;
  font-weight: bold;


}

}
  .you{
    position: relative;
    margin: 15px;
    max-width: 80%;
    align-self: flex-start;
    padding: 6px 10px 7px;
    border-radius: 15px 15px 15px 0;
    background: #239aff;
    //background: rgba(50,219,100,0.5);
    font-size: medium;
    color: #fff;
    line-height: 1.4;

  }
}
.scroll-content {
  overflow: auto;  /* redundant, but just in case */
  display: flex; /* redundant, but just in case */
  flex-direction: column-reverse;
}

.send-menssage {
  width: 100%;
  background: #c7c7c7;
}