<ion-header>
  <ion-toolbar>
    <ion-title>mensagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="chat" *ngFor="let mensagem of mensagens | async">
        <div class="me" *ngIf="userId == mensagem.userId">
          {{ mensagem.text }}
        </div>
        <div class="you" *ngIf="userId != mensagem.userId">
          {{mensagem.text}}
        </div>
    </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input placeholder="Digite uma mensagem" [(ngModel)]="text"></ion-input>
    
    <ion-button (click)="mensagensHandler(text)" fill="clear" icon-only slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
