<ion-header>
  <ion-toolbar mode='ios' class="topo">
      <ion-buttons slot="start">
        <ion-back-button style="color: #fff;" defaultHref="/chat"></ion-back-button>
      </ion-buttons>
    <ion-title class="title">mensagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
    <div class="chat" *ngFor="let mensagem of mensagens | async">
        <div class="you" *ngIf="userId == mensagem.userId">
          {{ mensagem.text }}
        </div>
        <div class="me" *ngIf="userId != mensagem.userId">
          <span class="name">
            {{mensagem.userName}}
          </span><br>
          {{mensagem.text}}
        </div>
    </div>
</ion-content>

<ion-footer class="send-menssage">
  <form [formGroup]="mensagensForm">
  <ion-item>
    <ion-input placeholder="Digite uma mensagem" formControlName="text" [(ngModel)]="text"></ion-input>
    
    <ion-button [disabled]="!mensagensForm.valid" (click)="mensagensHandler(text)" fill="clear" icon-only slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</form>
</ion-footer>
