<ion-header>
  <ion-toolbar class="content" mode='ios'>
    <ion-title class="title"> Guia Rapido </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode='ios'>
    <ion-searchbar placeholder="Buscar guia..."
                   animated
                   (ionChange)="buscarUsuario( $event )">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let guia of guias | filtro:textoBuscar">
        <ion-item class="lista" button [routerLink]="['/details', guia.id]">
          <ion-avatar slot="start">
            <img [src]="guia.foto">
          </ion-avatar>
          <ion-label>
            {{ guia.nome }} {{guia.sobrenome}}
            <p>{{ guia.email }}</p>
            <p>{{ guia.telefone }}</p>
          </ion-label>
          <span>{{guia.avaliacao}} <ion-icon name='star'></ion-icon>
          </span>
        </ion-item>
      </ion-item>
      
  </ion-list>

  <!-- <div class="footer-bottom">
    <h6>Guia+ 2019. Versão 1.0.0.</h6>
  </div> -->

</ion-content>