/* .topo {
  background-color: rgb(90, 196, 249);

  ion-title {
      color: white;
  }
} */

/* .card-list { */
  /* margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 85%;
  background: -webkit-linear-gradient(to top, royalblue, white);
  background: -o-linear-gradient(to top, royalblue, white);
  background: -moz-linear-gradient(to top, royalblue, white);
  background: linear-gradient(to top, royalblue, white);
  z-index: 4;
  box-shadow: 5px 5px 0 #d9d9d9;
  -webkit-box-shadow: 5px 5px 0 #d9d9d9;
  -moz-box-shadow: 5px 5px 0 #d9d9d9; */

  /* position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.list-card {
    padding: 3% 4%;
    position: inherit;
} */


/* ion-item {
  background-color: #f2f2f2;
} */

/* .footer {
  #p1 {
      text-align: center;
      color: #fff;
      margin: 0!important;
      padding-top: 3%;
      font-size: 15px;
    }
  #p2 {
      text-align: center;
      color: #fff;
      margin: 0!important;
      padding-top: 1%;    }  
  height: 60px;
  width: 100%;
  margin: 0;
  position: absolute;
  background-color: rgb(90, 196, 249);
  bottom: 0.1px;
  margin-bottom: 0; */

  /* .card-list {
      width: 100%;
      height: 100%;
      border: none;
  }

  ion-list {
    width: 85%;
    //height: 75%;
    margin: auto;
    margin-top: 30px;
  }

  .footer-bottom {
    h6 {
      text-align: center;
      color: #fff;
      margin: 0!important;
    }
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 4px;
    margin-bottom: 15px;
  } */




  .content {
    --background: linear-gradient(207deg, rgb(28, 159, 246) 0%, rgba(90, 196, 249, 1) 84%);
    --border-width: 0px;
    --min-height: 80px;
    --border-style: none;
  }

  .title {
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .lista {
    width: 95%;
    margin-top: 20px;
  }
  
  ion-avatar {
    width: 60px !important;  
    height: 60px !important;
  }
  
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
  
  fieldset, label { margin: 0; padding: 0; }
  body{ margin: 20px; }
  h1 { font-size: 1.5em; margin: 10px; }
  
  /****** Style Star Rating Widget *****/
  
  .rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
  


@media (min-width: 240px) and (max-width: 768px) {

  .content {
    --background: linear-gradient(207deg, rgb(28, 159, 246) 0%, rgba(90, 196, 249, 1) 84%);
    --border-width: 0px;
    --min-height: 80px;
    --border-style: none;
  }

  .title {
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .lista {
    width: 95%;
    margin-top: 10px;
  }

  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


}
