<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <h3 class="title">Esqueceu sua senha?</h3>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="top">
        <ion-item>
          <ion-label position="floating">Senha atual</ion-label>
          <ion-icon name="lock" slot="end"></ion-icon>
          <ion-input type="text" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>  

    <ion-row>
      <ion-col class="top">
        <ion-item>
          <ion-label position="floating">Nova Senha</ion-label>
          <ion-icon name="lock" slot="end"></ion-icon>
          <ion-input type="text" [(ngModel)]="newpassword"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="top">
        <ion-item>
          <ion-label position="floating">Confirmar Senha</ion-label>
          <ion-icon name="checkmark-circle" slot="end"></ion-icon>
          <ion-input type="text" [(ngModel)]="newpassword"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="top-2">
        <ion-button size='large' class="btn-init" (click)="updatePassword()" expand="block" >
            Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
