/* .topo {
    background-color: rgb(90, 196, 249);

    ion-title {
        color: white;
    }
}

div {
    text-align: center;
    margin-top: 10%;

    span {
        font-size: 24px;
    }
}

.card-form {
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.campo {
    width: 85%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    color: gray;
    border-bottom: solid 2px;
    border-bottom-color: rgb(90, 196, 249);

    ion-icon {
        color: #b5b5b5;
    }
}

.btn {
    width: 70%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    background-color: linear-gradient(to right, royalblue, white); 
    color: white;
}

.footer {
    #p1 {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 3%;
        font-size: 15px;
      }
    #p2 {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 1%;    }  
    height: 60px;
    width: 100%;
    margin: 0;
    position: absolute;
    background-color: rgb(90, 196, 249);
    bottom: 0.1px;
    margin-bottom: 0;
  } */



.content {
    --background: linear-gradient(207deg, rgb(28, 159, 246) 0%, rgba(90, 196, 249, 1) 84%);
    --border-width: 0px;
    --min-height: 90px;
}

.logo {
    position: relative;
    align-content: center;
    width: 200px;
    height: 65px;
    margin-left: 530px;
}

ion-grid {
    padding: 2% 4%;
} 

ion-title {
    color: #fff;
}

ion-item {
    color: #858383;
}

ion-back-button {
    --icon-font-size: 30px
}

ion-icon {
    color: #858383;
}

.title {
    margin-top: 2%;
    color: #B2B2B2;
    font-weight: 600;
    font-size: 25px;
}

.icon {
    color: #D2D2D2;
}

ion-input {
    --placeholder-color: #858383;
}

.top {
    margin-top: 3%;
}
.top-2 {
    margin-top: 0%;
}

.btn-init {
    --background: rgb(34, 162, 246);
    --border-radius: 10px;
    margin-top: 5%;
}


@media (min-width: 240px) and (max-width: 768px) {

    .content {
        --background: linear-gradient(207deg, rgb(28, 159, 246) 0%, rgba(90, 196, 249, 1) 84%);
        --border-width: 0px;
        --min-height: 90px;
    }

    .logo {
        position: relative;
        align-content: center;
        width: 200px;
        height: 65px;
        margin-left: 530px;
    }

    ion-grid {
        padding: 5% 5%;
    } 

    ion-title {
        color: #fff;
    }

    ion-item {
        color: #858383;
    }

    ion-back-button {
        --icon-font-size: 30px
    }

    ion-icon {
        color: #858383;
    }

    .title {
        margin-top: 5%;
        color: #B2B2B2;
        font-weight: 600;
        font-size: 25px;
    }

    .icon {
        color: #D2D2D2;
    }

    ion-input {
        --placeholder-color: #858383;
    }

    .top {
        margin-top: 7%;
    }
    .top-2 {
        margin-top: 10%;
    }

    .btn-init {
        --background: rgb(34, 162, 246);
        --border-radius: 10px;
        margin-top: 10%;
    }
}