.topo {
    background-color: rgb(90, 196, 249);

    ion-title {
        color: white;
    }
}

div {
    text-align: center;
    margin-top: 10%;

    span {
        font-size: 24px;
    }
}

.card-form {
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.campo {
    width: 85%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    color: gray;
    border-bottom: solid 2px;
    border-bottom-color: rgb(90, 196, 249);

    ion-icon {
        color: #b5b5b5;
    }
}

.btn {
    width: 70%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    background-color: linear-gradient(to right, royalblue, white); 
    color: white;
}

.footer {
    #p1 {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 3%;
        font-size: 15px;
      }
    #p2 {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 1%;    }  
    height: 60px;
    width: 100%;
    margin: 0;
    position: absolute;
    background-color: rgb(90, 196, 249);
    bottom: 0.1px;
    margin-bottom: 0;
  }