<ion-header>
  <ion-toolbar class="topo" color="custom-color">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-form">

    <div>
      <span>Deseja Alterar sua senha?</span>
    </div>
  
      <ion-item class="campo" lines="none">
        <ion-label position="floating">Senha atual</ion-label>
        <ion-icon name="lock" slot="end"></ion-icon>
        <ion-input type="text" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item class="campo" lines="none">
        <ion-label position="floating">Nova Senha</ion-label>
        <ion-icon name="lock" slot="end"></ion-icon>
        <ion-input type="text" [(ngModel)]="newpassword"></ion-input>
      </ion-item>

      <ion-item class="campo" lines="none">
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-icon name="checkmark-circle" slot="end"></ion-icon>
        <ion-input type="text" [(ngModel)]="newpassword"></ion-input>
      </ion-item>

      <ion-button class="btn" (click)="updatePassword()" expand="block" >
          Confirmar
      </ion-button>
  
  </ion-card>

  <div class="footer">
    <p id="p1">Guia+ 2019. Todos os direitos reservados.</p>
    <p id="p2">Versão 1.0.0.</p>
  </div>
  
</ion-content>
