/* .topo {
    background-color: rgb(90, 196, 249);

    ion-title {
        color: white;
    }
}

div {
    text-align: center;
    margin-top: 10%;

    span {
        font-size: 24px;
    }
}

.campo {
    width: 85%;
    margin: auto;
    margin-top: 20%;
    position: relative;
    border-bottom: solid 2px;
    border-bottom-color: rgb(90, 196, 249);
}

.btn {
    width: 85%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    color: white;
}

.footer {
    h5 {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 3%;
      }
    p {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 1%;    }  
    height: 60px;
    width: 100%;
    margin: 0;
    position: absolute;
    background-color: rgb(90, 196, 249);
    bottom: 0.1px;
    margin-bottom: 0;
} */



/* .container {
    width: 1300px;
    height: 90%;
    display: flex;
    margin: auto;
    margin-top: 3%;
} */

ion-grid {
    padding: 5% 5%;
} 

ion-back-button {
    --icon-font-size: 30px
}

.title {
    color: #B2B2B2;
    font-weight: 600;
    font-size: 25px;
}

.icon {
    color: #D2D2D2;
}

ion-input {
    --placeholder-color: #f2f2f2;
}

.top {
    margin-top: 7%;
}
.top-2 {
    margin-top: 10%;
}

.btn-init {
    --background: rgb(34, 162, 246);
    --border-radius: 10px;
}


@media (min-width: 240px) and (max-width: 768px) {
    
    /* .container {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        margin-top: 0;
    } */

    ion-grid {
        padding: 5% 5%;
    }

    ion-back-button {
        --icon-font-size: 30px
    }

    .title {
        color: #B2B2B2;
        font-weight: 600;
        font-size: 25px;
    }

    .icon {
        color: #D2D2D2;
    }

    ion-input {
        --placeholder-color: #D2D2D2
    }

    .top {
        margin-top: 40%;
    }
    .top-2 {
        margin-top: 55%;
    }

    .btn-init {
        --background: rgb(34, 162, 246);
        --border-radius: 10px;
    }

}
