<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-login">

    <ion-card class="card-form">

      <ion-item id="rounded">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" value="" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-button  type="button" (click)="forgotpassword()" shape="round" expand="full" color="warning">
        Confirmar
    </ion-button>
    </ion-card>
    
  </ion-card>

</ion-content>
