<ion-header>
  <ion-toolbar class="topo" color="custom-color">
    <ion-title> Reset senha </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <ion-card class="card-form"> -->

      <div>
        <span>Esqueceu sua senha?</span>
      </div>

      <ion-item class="campo" lines="none">
        <ion-label position="floating">E-mail</ion-label>
        <ion-icon name="mail" slot="end"></ion-icon>
        <ion-input type="text" value="" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-button class="btn" type="button" (click)="forgotpassword()" shape="round" expand="full">
        Confirmar
      </ion-button>

      <div class="footer">
        <h5>Guia+ 2019. Todos os direitos reservados.</h5>
        <p>Versão 1.0.0.</p>
      </div>

  <!-- </ion-card> -->

</ion-content>
