.topo {
    background-color: rgb(90, 196, 249);

    ion-title {
        color: white;
    }
}

div {
    text-align: center;
    margin-top: 10%;

    span {
        font-size: 24px;
    }
}

.campo {
    width: 85%;
    margin: auto;
    margin-top: 20%;
    position: relative;
    border-bottom: solid 2px;
    border-bottom-color: rgb(90, 196, 249);
}

.btn {
    width: 85%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    color: white;
}

.footer {
    h5 {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 3%;
      }
    p {
        text-align: center;
        color: #fff;
        margin: 0!important;
        padding-top: 1%;    }  
    height: 60px;
    width: 100%;
    margin: 0;
    position: absolute;
    background-color: rgb(90, 196, 249);
    bottom: 0.1px;
    margin-bottom: 0;
}