/* .card-login {
    background-size: cover;
    background-position: center;
    background: -webkit-linear-gradient(to top, royalblue, white);
    background: -o-linear-gradient(to top, royalblue, white);
    background: -moz-linear-gradient(to top, royalblue, white);
    background: linear-gradient(to top, royalblue, white); 
    background: #f2f2f2;
    width: 80%;
    height: 75%;
    margin: 0 auto;
    margin-top: 5%;
    z-index: 1;
    position: relative;
    box-shadow: 5px 5px 0 #d9d9d9;
   -webkit-box-shadow: 5px 5px 0 #d9d9d9;
   -moz-box-shadow: 5px 5px 0 #d9d9d9;
    
}  */

/* .card-form { */
    /* padding: 4% 5%;
     margin-top: 5%;
     width: 75%;
     height: 75%;
     margin: 0 auto;
     position: relative;
     background-color: white;
     margin-left: 15%;
     margin-right: 10%;
     margin-top: 2%;
     border: 15%; */
 
     /* color: #fff;
     background-color: #d9d9d9;
     background-position: center; */
     /* background: -webkit-linear-gradient(to medium, royalblue, white);
     background: -o-linear-gradient(to medium, royalblue, white);
     background: -moz-linear-gradient(to medium, royalblue, white);
     background: linear-gradient(to medium, royalblue, white); */
    /*  border-radius: 50%;
     
 
     position: relative;
     left: 0;
     right: 0;
     width: 50%;
     height: 70%;
     margin: auto;
     padding-top: 5%;
     z-index: 4;
     box-shadow: 5px 5px 0 #d9d9d9;
     -webkit-box-shadow: 5px 5px 0 #d9d9d9;
     -moz-box-shadow: 5px 5px 0 #d9d9d9;
 
     &.top {
         top: 5%;
     }
 
     &.botton {
         bottom: 30%;
     } */

 
/*  span p{
     color: #fff;
     text-align: center;
     font-size: 24px;
     font-weight: bold;
 } */
 
    /*  width: 100%;
     border: none; 
     border-bottom-color: #4169e1;
     border-bottom-style: solid;
     outline: none;
     margin-bottom: 30px; */
 
/*  ion-item {
     width: 80%;
     margin: auto;
     padding-top: 2%; */
     /* --background: rgba(255, 255, 255, 0.2);  */
    /*  --background: linear-gradient(to top, royalblue, white); 
     --border-radius: 10px;
 
     ion-input {
         --color: #fff;
     }
 }  */
 
 /* ion-icon {
     color: #fff;
 } */
 
/*  #opcao {
     color: #ffffff;
     text-align: end;
     margin-right: 10px;
 } */
 
 /* #titulo {
     text-shadow: darkgray;
     color: #4169e1;
     font-size: 24px;
     font-weight: bold;
     margin: auto;
 } */
 
 /* #titulo h2{
     text-shadow: darkgray;
     text-align: center;
     font-size: 36px;
     font-weight: bold;
     margin-top: 10px;
     margin-bottom: 3px;
 } */
 
 
 /* .button {
     position: relative;
 } */
 
/*  #button-text p {
     position: relative;
     color: #ffffff;
 } */

 .fundo {
    height: 100%;
    display: block;
    background-color: rgb(90, 196, 249);

}

img{
    position: relative;
    margin: auto 25%;
    margin-top: 0;
}

/* .card-form {
    width: 45%;
    height: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
} */

.campos {
    width: 85%;
    margin: auto;
    margin-top: 10%;
    position: relative;
    opacity: 0.8;
}

.btn {
    width: 85%;
    margin: auto;
    margin-top: 10%;
    position: relative;
    color: white;
}

.btn-2 {
    width: 85%;
    margin: auto;
    margin-top: 5%;
    position: relative;
    color: white;
}

p {
    text-align: center;
    padding-top: 3%;
    position: relative;
    color: #ffffff;
}

ion-button p {
    padding-top: 5%;
    position: relative;
    color: #ffffff;
}