<!-- <ion-header>
  <ion-toolbar class="topo" color="custom-color">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/meus-dados"></ion-back-button>
    </ion-buttons>

    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="usuarioEditarForm">

    <ion-card class="card-form">

      <div>
        <img src="../../../assets/images/img-perfil.png">
        <ion-label>Alterar foto</ion-label>
      </div>

      <ion-list>

        <ion-item lines="none">
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" formControlName="nome" [(ngModel)]="user.nome"></ion-input>
        </ion-item>
        <div class="errors" *ngIf="usuarioEditarForm.controls.nome.errors">
          <h6 *ngIf="usuarioEditarForm.controls.nome.errors.required"></h6>
          <h6 *ngIf="usuarioEditarForm.controls.nome.errors.minlength">O Nome deve conter no minimo 2 caracteres</h6>
          <h6 *ngIf="usuarioEditarForm.controls.nome.errors.maxlength">O Nome deve conter no maximo 50 caracteres</h6>
        </div>

        <ion-item lines="none">
          <ion-label position="floating">Telefone</ion-label>
          <ion-input type="string" formControlName="telefone" [(ngModel)]="user.telefone"></ion-input>
        </ion-item>
        <div class="errors" *ngIf="usuarioEditarForm.controls.telefone.errors">
          <h6 *ngIf="usuarioEditarForm.controls.telefone.errors.required"></h6>

        </div>

      </ion-list>

      <ion-button class="btn" (click)="updateUser()"  expand="block" [routerLink]="['/meus-dados']">
        Atualizar dados
      </ion-button>

      <div class="footer">
        <p id="p1">Guia+ 2019. Todos os direitos reservados.</p>
        <p id="p2">Versão 1.0.0.</p>
      </div>

    </ion-card>

  </form>

</ion-content> -->





<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff" defaultHref="/meus-dados"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        <ion-col class="title">
          Editar Perfil<br>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>