.welcome {
  position: relative;
  text-align: center;
}

.img {
  width: 100%;
}

.footer-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: black;
  text-align: center;
}
