<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" style="color: #fff;" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;" size='4' class="col-center" routerLink='/meus-dados'>
        <ion-label>
          <img style="margin-left: 5%; width: 63%;" src="../../assets/images/user.svg">
          <p>
            Perfil
          </p>
        </ion-label>
      </ion-col>
      <ion-col style="text-align: center;" size='4' class="col-center" routerLink='/editar-perfil'>
        <ion-label>
          <img style="margin-left: 13%; width: 63%;" src="../../assets/images/profile.svg">
          <p>
            Alterar perfil
          </p>
        </ion-label>
      </ion-col>
      <ion-col style="text-align: center;" size='4' class="col-center" routerLink='/change-password'>
        <ion-label>
          <img style="margin-left: 5%; width: 63%;" src="../../assets/images/padlock.svg">
          <p>
            Alterar senha
          </p>
        </ion-label>
      </ion-col>

    </ion-row>

    <ion-row>
        <ion-col routerLink='/tabs/tab3' size='4' style="text-align: center; margin-top: 6%;" class="col-center">
          <ion-label>
            <img style="margin-left: 0%; width: 60%;" src="../../assets/images/note.svg">
            <p>
              Listar guias
            </p>
          </ion-label>
        </ion-col>

        <ion-col routerLink='/meus-favoritos' size='4' style="text-align: center; margin-top: 6%;" class="col-center">
          <ion-label>
            <img style="margin-left: 0%; width: 60%;" src="../../assets/images/note.svg">
            <p>
              Favoritos
            </p>
          </ion-label>
        </ion-col>
        <ion-col routerLink='/guia-rapido' size='4' style="text-align: center; margin-top: 6%;" class="col-center">
          <ion-label>
            <img style="margin-left: 0%; width: 60%;" src="../../assets/images/note.svg">
            <p>
              Guia Rapido
            </p>
          </ion-label>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content> 
