.topo {
  background: linear-gradient(207deg, rgb(28, 159, 246) 0%, rgba(90, 196, 249, 1) 84%);

  ion-title {
      color: white;
  }
}

.welcome {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  z-index: 2;
}

.slides-itens {
  margin: 0 auto;
  width: 100%;
  height: 100%; 
  display: block;
}

ion-slide {
  /* margin-top: 2.8rem; */
  display: flex;
  flex-direction: column;

  img {
    max-height: 50%;
    max-width: 60%;
    margin: auto;
  }

  p {
    /* position: fixed; */
    //display: block;
    bottom: 0;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    text-justify: auto;
  }
}

.footer-bottom{
  position: fixed;
  margin: auto;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: black;
}

.footer-bottom h6 {
  text-align: center;
}

.img-content{
  display: flex;
  margin: 0 auto 20px auto;
}

.img-content-1{
  display: flex;
  max-height: 100%;
  margin: 0 auto 20px auto;
  height: 65%;
}

.img-1{
    max-height: 100%!important;
    max-width: 100%!important;
    /* height: 100%!important; */
}

.img-3{
    max-width: 90%!important;
    width: 100%!important;
}

.text-content{
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 385px) {
  .img-content-1{
    height: 50%;
  }
}

