<ion-header>
  <ion-toolbar mode='ios' class="content">
    <b><img class="logo" src="../../assets/images/logo-transparent.png"></b>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarModal()">
        <ion-icon slot="icon-only" style="color: #fff" name="megaphone"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" style="color: #fff;" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-sm-6 col-md-6 co-lg-4 style="text-align: center;" size='4' class="col-center"
        routerLink='/meus-dados'>
        <ion-label>
          <img style="margin-left: 5%; width: 63%;" src="../../assets/images/Caminho 202.svg">
          <p style="margin-left: 5%">
            Perfil
          </p>
        </ion-label>
      </ion-col>
      <ion-col col-sm-6 col-md-6 co-lg-4 style="text-align: center;" size='4' class="col-center"
        routerLink='/editar-perfil'>
        <ion-label>
          <img style="margin-left: 13%; width: 63%;" src="../../assets/images/profile2.svg">
          <p style="margin-left:10%">
            Editar perfil
          </p>
        </ion-label>
      </ion-col>
      <ion-col col-sm-6 col-md-6 co-lg-4 style="text-align: center;" size='4' class="col-center"
        routerLink='/change-password'>
        <ion-label>
          <img style="margin-left: 5%; width: 63%;" src="../../assets/images/padlock2.svg">
          <p style="margin-left: 5%">
            Alterar senha
          </p>
        </ion-label>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-sm-6 col-md-6 co-lg-4 routerLink='/tabs/tab3' size='4' style="text-align: center; margin-top: 6%;"
        class="col-center">
        <ion-label>
          <img style="margin-left: 0%; width: 60%;" src="../../assets/images/Grupo 22.svg">
          <p>
            Listar guias
          </p>
        </ion-label>
      </ion-col>

      <ion-col col-sm-6 col-md-6 co-lg-4 routerLink='/meus-favoritos' size='4'
        style="text-align: center; margin-top: 6%;" class="col-center">
        <ion-label>
          <img style="margin-left: 10%; width: 60%;" src="../../assets/images/runer-silhouette-running-fast.svg">
          <p style="margin-left:10%">
            Favoritos
          </p>
        </ion-label>
      </ion-col>
      <ion-col col-sm-6 col-md-6 co-lg-4 routerLink='/guia-rapido' size='4' style="text-align: center; margin-top: 6%;"
        class="col-center">
        <ion-label>
          <img style="margin-left: 10%; width: 60%;" src="../../assets/images/favorites.svg">
          <p style="margin-left: 10%">
            Guia Rapido
          </p>
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>