<ion-header>
  <ion-toolbar class="topo" color="custom-color">
    <ion-title> Bem vindo {{ user.nome }}</ion-title>
    <ion-button class="opcoes" fill="clear" slot="end" (click)="mostrarOpcoes($event)">
      <ion-icon name="person" color="light"></ion-icon>
      <ion-icon name="arrow-dropdown" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false" class="welcome">

  <ion-slides class="slides-itens" pager="true">

    <ion-slide>
      <div class="img-content-1">
        <img class="img-1" src="../../assets/images/logo-oficial.jpg" alt="logo-oficial">
      </div>
      <div class="text-content">
        <p>O Guia+ é o aplicativo ideal para suas viagens!!
         Onde você pode encontar Guias turísticos para acompanhar e tornar seus passeios 
         mais proveitosos e torná-los uma experiência única!!</p>
      </div>
      
    </ion-slide>

    <ion-slide>
        <div class="img-content">
          <img src="../../assets/images/guia de turismo.jpg" alt="guia de turismo">
        </div>
        <div class="text-content">
          <p>Aqui você encontra uma lista de profissionais de turísmo cadastrados e certificados 
           onde você poderá entrar em contato e contratar seus serviços!
        </p>
        </div>
        
    </ion-slide>

    <ion-slide>
        <div class="img-content-3">
          <img class="img-3" src="../../assets/images/autoavaliacao.jpg" alt="autoavaliacao">
        </div>
        <div class="text-content">
          <p>Você também poderá avaliar o serviço prestado e favoritar o profissional que escolher com base nas avaliações.</p>
        </div>
        
    </ion-slide>

  </ion-slides>

  <!-- <ion-button (click)="logout()"  expand="block">
    Sair
  </ion-button> -->
  <!-- <ion-button (click)="guiaRapido()"  expand="block">
    Guia Rapido
  </ion-button> -->

  <!-- <div class="footer-bottom">
    <h6>GuiaMais 2019. Todos os direitos reservados.</h6>
  </div>
 -->
</ion-content>
