<ion-header>
  <ion-toolbar class="topo" color="custom-color">
    <ion-title> Meus Dados </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-form">

    <ion-list>

        <ion-avatar slot="start">
          <img [src]="user.foto">
        </ion-avatar>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="user.nome" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="string" [(ngModel)]="user.telefone" disabled="true"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="string" [(ngModel)]="user.password" disabled="true"></ion-input>
      </ion-item>
   -->
    </ion-list>

    <ion-row>
      <ion-col size="6">
        <ion-button class="btn" expand="block" [routerLink]="['/editar-perfil']">
          Editar Perfil
        </ion-button>
      </ion-col>
       
      <ion-col size="6">
        <ion-button class="btn" expand="block" [routerLink]="['/change-password']">
          Alterar Senha
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="footer">
      <p id="p1">Guia+ 2019. Todos os direitos reservados.</p>
      <p id="p2">Versão 1.0.0.</p>
    </div>
      
  </ion-card>

</ion-content>


