.comentarios {
    width: 100%;
    margin-top: 70px;
    margin-left: 10px;

    h3 {
        margin-top: 10%;
        text-decoration: underline;
    }
}

.comment-area {
    width: 95%;
    height: 200px;
    margin-top: 5%;
    position: relative;
    border: solid 0.8px;
}

.btn {
    width: 90%;
    position: relative;
    margin-left: 10px;
    margin-top: 10%;
    background-color: linear-gradient(to right, royalblue, white); 
    color: white;
    border-radius: 10%;
  }

ion-item {
    width: 100%;

    ion-avatar {
        width: 20%;
        height: 10%;
    }
}