<div class="comentarios">
<h3>Deixe seu Comentário:</h3>

<ion-textarea class="comment-area" rows='7' type="text" [(ngModel)]="text"></ion-textarea>

<ion-button class="btn" type="button" (click)="commentHandler(text)" expand="block">
  Enviar
</ion-button>

<h3>Comentarios dos usuários:</h3>

<ion-item *ngFor="let comment of comments | async">
  <ion-avatar slot="start">
    <img [src]="comment.userFoto">
  </ion-avatar>
  "{{ comment.userName }}" comentou para "{{ comment.guiaName }}" {{ comment.text }}
</ion-item>

</div>

