/* div {
    h3 {
        width: 100%;
        margin-top: 30px;
        margin-left: 5px;
    }

    ion-toggle {
        margin-top: 25px;
        margin-left: 50px;
        color: rgb(90, 196, 249);
    }
} */

div {
    ion-button {
        justify-content: center;
        margin-left: 20px;
        --background: rgb(54, 174, 247);
        --border-radius: 10px;
    }

    h3 {
        color: #b2b2b2;
        margin-left: 10px;
    }
}
